@import "../../styles/colors";

.header {
  position: fixed;
  z-index: 100;
  top: 0;
  height: 100vh;
  box-shadow: 0 0 5rem -3.5rem currentColor;

  transition: 0.5s ease;
  * {
    transition: 0.5s ease;
  }
}

.nav {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 1rem;

  display: grid;
  grid-template:
    "header" 5rem
    "formList" auto
    "statistics" 1fr
    "footer" 10rem / 100%;
  grid-gap: 2rem;
  border-right: thin solid rgba(20, 60, 100, 0.3);

  .header {
    grid-area: header;
  }
  .formList {
    grid-area: formList;
  }
  .statistics {
    grid-area: statistics;
  }
  .footer {
    grid-area: footer;
  }

  background: $nav-bg;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  li,
  button {
    color: $nav-font;
  }
}
